.project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    min-height: 200vh;
}

.project-container {
    display: block;
    align-items: left;
    left: 0;
    padding: 0 20px;
    background-color: #ffffff;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #B3E2A7 35%, #80B9AD 100%); */
    width: 100vw;
    height: 190vh;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: scroll;
}

.project-container h3{
    margin: 10px 0;
}

.project-container section {
    margin: 40px 20px;
}

.image-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    margin: 70px 0;
    border: 2px solid rgb(205, 198, 198);
    box-shadow: 0 0 10px rgb(239, 239, 232);
}

.image-box img{
    width: 27vw;
    height: 30vh;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgb(248, 190, 96);
}